{% style %}
  .infinit-scrolling {
    padding: 10px 0;
  }
  .infinit-scrolling .page-width {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .infinit-scrolling .logos-slide {
    display: inline-flex;
    animation: 35s slider infinite linear;
  }
  .infinit-scrolling .logos {
    overflow: hidden;
    white-space: nowrap;
    margin: 50px 0;
  }
  .infinit-scrolling .logos-slide img {
    margin: 0 40px;
  }
  .infinit-scrolling .icon-text img {
    margin: 0;
  }
  .infinit-scrolling .icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
    width: max-content;
  }

  @keyframes slider {
    form {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
{% endstyle %}

<section class="infinit-scrolling">
  <div class="page-width">
    <div class="logos">
      <div class="logos-slide">
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
      </div>
      <div class="logos-slide">
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
        <div class="icon-text">
          <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/Group_314128.svg?v=1721045358" height="auto" width="auto">
          <h4>Lorem Ipsum is simply dummy</h4>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}