{% style %}
  .collection-tabbing {
    padding: 100px 0;
  }
  .collection-tabbing .page-width {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  .test h5.active {
    color: red;
    font-weight: bold;
  }
{% endstyle %}

<section class="collection-tabbing">
  <div class="page-width">
    <div class="test">
      <h5>TESTING</h5>
      <div class="demo-class">
        <h6>demo</h6>
      </div>
    </div>
  </div>
</section>

<script>
  // ADD ACTIVE CLASS
  document.querySelector('.test h5').addEventListener('click', function () {
    this.classList.toggle('active');
  });
  
  // ADD CLASS IN BODY TAG
  document.querySelector('.test h5').addEventListener('click', function () {
    document.body.classList.toggle('testing');
  });
  
  // REMOVE CLASS
  document.querySelector('.test h5').addEventListener('click', function () {
    const demoElement = document.querySelector('.test .demo-class');
    if (demoElement) {
      demoElement.remove();
    }
  });
</script>

{% schema %}
  {
    "name": "Collection Tabbing",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Tab"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets" :[
    {
      "name":"Collection Tabbing"
    }
  ]
}
{% endschema %}