{% style %}
  
{% endstyle %}

<section class="demo">
  <a href="https://drannacabeca.com/"></a>
  <img src="https://cdn.shopify.com/s/files/1/0776/6156/9336/files/banner-26.jpg?v=1745223697">
</section>

{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}