{% style %}
  
{% endstyle %}

<section class="demo">
  
</section>

{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}