
<style>
.button-style a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 0;
    background: #d5c1c1d6;
    color: #000;
}
.button-style a:hover {
    background: #c79d9d;
}
.button-style {
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    max-width: 1230px;
    margin: 100px auto;
}
</style>


<div class="button-style">
  <a href="#">Shop Now</a>
</div>


{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}