
<style>

</style>


<div class="button-style">
  <a href="#">Shop Now</a>
</div>


{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}