
<style>
.button-style a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0;
}
</style>


<div class="button-style">
  <a href="#">Shop Now</a>
</div>


{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}