<style>

</style>

<section class="faq-section">
  <div class="container">
    <div class="faq-details">
      <h2>{{ section.settings.main_title }}</h2>
    </div>
    <ul class="tab">
      <li class="tablinks active_tab" data-tab="order-questions">Order Questions</li>
      <li class="tablinks" data-tab="miscellaneous-questions">Miscellaneous Questions</li>
      <li class="tablinks" data-tab="jewelry-questions">Jewelry Questions</li>
    </ul>
    <div class="faq-tabs-content">
      <div class="faq-sections order-questions">
        {% for block in section.blocks %}
          {% if block.type == 'order_questions' %}
            <div class="question">
              <p>{{ block.settings.questions_question }}</p>
              <div class="arrow"></div>
            </div>
            <div class="answer">
              {{ block.settings.questions_answer }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Faq With tabbing",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "order_questions",
      "name": "Order Questions",
      "settings": [
        {
          "type": "text",
          "id": "questions_question",
          "label": "Questions"
        },
        {
          "type": "richtext",
          "id": "questions_answer",
          "label": "Answer"
        }
      ]
    },
    {
      "type": "miscellaneous_questions",
      "name": "Miscellaneous Questions",
      "settings": [
        {
          "type": "text",
          "id": "miscellaneous_question",
          "label": "Questions"
        },
        {
          "type": "richtext",
          "id": "miscellaneous_answer",
          "label": "Answer"
        }
      ]
    },
    {
      "type": "jewelry_questions",
      "name": "Jewelry Questions",
      "settings": [
        {
          "type": "text",
          "id": "jewelry_question",
          "label": "Questions"
        },
        {
          "type": "richtext",
          "id": "jewelry_answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq With tabbing"
    }
  ]
}
{% endschema %}