<style>
        .holster-section {
         padding-top: 50px;
         padding-bottom: 50px;
           background-color: #F0F0F0;
       }
       .page-width {
         max-width: 864px;
         padding: 0 15px;
         margin: 0 auto;
         width: 100%;
       }
      .holster-section .section-heading {
         font-family: "Poppins", sans-serif;
         font-weight: 700;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: 0;
         text-align: center;
         color: #000;
         padding-bottom: 40px;
       }
     .content-details.flex{
       display: flex;
       align-items: end;
       justify-content: center;
       }
       .holster-section .holster-content {
         display: flex;
         justify-content: center;
         align-items: flex-start;
     }
      .left-title{
        padding: 35px 0;
    }
     .holster-section .left-cont   , .left-title {
         width: 33.6%;
       background-color: #000;
       display: block !important;
     }
    .holster-section  .middle-cont , .middle-title{
         width: 32.8%;
      background: #FFFFFF;
     }
     .holster-section  .right-cont , .right-title{
        width: 33.6%;
       background-color: #000;
     }
       .section-infos {
         font-family: Poppins;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         letter-spacing: 0;
         text-align: center;
         color: #fff;
         padding: 18.5px 0;
         max-width: 200px;
          width: 100%;
          margin: 0 auto;
          border-bottom: 1px solid #A8ADB2;
       }
       .middle-cont img , .right-cont img {
         max-width: 100%;
         display: block;
         margin: 0 auto;
       }
       .middle-cont img {
         padding: 16px 0;
       }
       .right-cont img {
         padding: 21px 0;
       }
       .middle-title p {
         font-family: Poppins;
         font-weight: 700;
         font-size: 16px;
         line-height: 24px;
         letter-spacing: 0;
         text-align: center;
         color: #000000;
         margin: 0;
         padding: 40px 0 24px 0;
       }
       .right-title p {
         font-family: Poppins;
         font-weight: 700;
         font-size: 16px;
         line-height: 24px;
         letter-spacing: 0;
         text-align: center;
         color: #fff;
         margin: 0;
         padding: 24px 0;
         }
    .holster-contents:last-child .holster-content .middle-cont {
    padding: 0px 0 20px;
}           
.middle-cont-img , .right-cont-img {
    max-width: 226px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #A8ADB2;
}
.holster-contents:last-child .left-cont .section-infos,
.holster-contents:last-child .middle-cont .middle-cont-img ,
.holster-contents:last-child .right-cont .right-cont-img {
    border: none;
}
       @media screen and (max-width: 1024px) {
         .holster-section {
           padding-top: 50px;
           padding-bottom: 50px;
         }
       }
       @media screen and (max-width: 767px) {
         .holster-section {
           padding-top: 30px;
           padding-bottom: 30px;
         }
         .holster-section .left-cont, .left-title{
           width: 61%;
         }
         .holster-section .middle-cont, .middle-title{
           width: 34%;
         }
         .middle-title p{
           max-width: 76px;
            margin: 0 auto; 
         }
         .section-infos{
           max-width: 164px;
         }
         .holster-section .section-heading{
           font-size: 32px;
         }
         .middle-cont-img, .right-cont-img{
            max-width: 60px;
         }
       }
    </style>
</head>
<body>
    <section class="holster-section">
  <div class="page-width">
      <h2 class="section-heading">Why Houdini Holsters?</h2>
    <div class="holster-details">
      <div class="holster-detail">
        <div class="holster-informations">
          <div class="content-details flex">
            <div class="left-title"></div>
            <div class="middle-title"><p>Breakout 2.0</p></div>
            <div class="right-title"><p>Other Holsters</p></div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Patented Breakout</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Low Maintenance</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Zero Break-In</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Custom Made Fit</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Lifetime Warranty</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          <div class="holster-contents">
                <div class="holster-content flex">
                  <div class="left-cont">
                    <div class="section-infos">Made In America</div>
                  </div>
                  <div class="middle-cont">
                    <div class="middle-cont-img">
                        <img src="./Mask group (68).png">
                    </div>
                  </div>
                  <div class="right-cont">
                    <div class="right-cont-img">
                        <img src="./Vector (10).png">
                    </div>
                  </div>
                </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Infinite marquee",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Infinite marquee",
    }
  ]
}
{% endschema %}