<style>

</style>

<section class="hero-banner">
    <div class="page-width">
        <div class="image-with-text">
            <div class="left-content">
                <div class="review">
                    <img src="//img.funnelish.com/14613/308186/1727253657-360_F_274863915_4JnfDXwTaTsjg5w5e7keElOipBswjAte.jpg" height="auto" width="auot" alt="Star icon">
                    <h3>50.000+ Happy Customers</h3>
                </div>
                <h1>Senior-Friendly Choking Protection</h1>
                <p>SaveLix is an easy-to-use choking rescue device that can save your life or a loved one’s life in a choking emergency.</p>
                <ul>
                    <li><strong>Easy to Use for Seniors</strong>: Simply place, press, and pull—no strength needed, even for those with limited mobility.</li>
                    <li><strong>Self-Use:</strong> Ideal for when you’re alone, giving you the ability to act independently.</li>
                    <li><strong>Works for All Ages</strong>: Includes two masks—one for adults and one for children—making it perfect for everyone in the family.</li>
                    <li><strong>FDA-Cleared</strong>: Safe, trusted, and designed with seniors’ specific needs in mind.</li>
                </ul>
            </div>
            <div class="right-image">
                <div class="custom-swiper-slider">
                    <div class="swiper-container main-slider-desktop">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/0_68b1889932cfc.png" alt="Image 1"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/1_68b188a6ae601.png" alt="Image 2"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/2_68b188b3574e7.png" alt="Image 3"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/3_68b188bf2f7ee.png" alt="Image 4"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/4_68b188cb2e0c2.png" alt="Image 5"></div>
                        </div>
                    </div>
                    <div class="swiper-container thumb-slider-desktop">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/0_68b1889932cfc.png" alt="Thumb 1"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/1_68b188a6ae601.png" alt="Thumb 2"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/2_68b188b3574e7.png" alt="Thumb 3"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/3_68b188bf2f7ee.png" alt="Thumb 4"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/4_68b188cb2e0c2.png" alt="Thumb 5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "test",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "test",
      "category": "Custom"
    }
  ]
}
{% endschema %}