<style>

</style>

<section class="hero-banner">
    <div class="page-width">
        <div class="image-with-text">
            <div class="left-content">

            </div>
            <div class="right-image">
                <div class="custom-swiper-slider">
                    <div class="swiper-container main-slider-desktop">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/0_68b1889932cfc.png" alt="Image 1"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/1_68b188a6ae601.png" alt="Image 2"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/2_68b188b3574e7.png" alt="Image 3"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/3_68b188bf2f7ee.png" alt="Image 4"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/4_68b188cb2e0c2.png" alt="Image 5"></div>
                        </div>
                    </div>
                    <div class="swiper-container thumb-slider-desktop">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/0_68b1889932cfc.png" alt="Thumb 1"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/1_68b188a6ae601.png" alt="Thumb 2"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/2_68b188b3574e7.png" alt="Thumb 3"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/3_68b188bf2f7ee.png" alt="Thumb 4"></div>
                            <div class="swiper-slide"><img src="https://cdn-3.convertexperiments.com/uf/1004313/100416161/4_68b188cb2e0c2.png" alt="Thumb 5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "test",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "test",
      "category": "Custom"
    }
  ]
}
{% endschema %}